html, body {
    background-color: #181818;
    color: #f1f1f1;
}

.drkmde {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

a, .navbar, .card, .footer, .limiter-menu-desktop, .wrap-menu-desktop, .top-bar, .animsition, .sec-banner, 
section, footer, .icon-header, .profile-sub-menu, i.zmdi, .c17{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

footer h4, footer p{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.darkMode {
    padding-left: 5px;
}

.stext-107 {
    color: #f1f1f1;
}

.btn-back-to-top {
    background-color: #3f3f3f !important;
}

i.fa-regular.fa-user.fa-sm{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.containcarousel, .carousel{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}


/* Add more dark mode styles as needed */