html, body {
    background-color: #232323;
    color: #f1f1f1;
}

.drkmde {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.darkModetxt {
    color: #f1f1f1 !important;
}

.main-menu > li:hover > a {
  text-decoration: none;
  color: #19f574;
}

.darkModebg-black {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

.top-bar, .card, .animsition, .sec-banner, section, .icon-header, .c17 {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.navbar, .limiter-menu-desktop, .wrap-menu-desktop, .navbar a, 
.header-icons, .header-icons-mobile, .header-wrapicon2, .header-cart, .header-cart-wrapitem, 
.header-cart-item-name, .header-cart-item-info, .header-cart-total, .header-cart-buttons a, .profile-sub-menu, i.zmdi {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

footer, footer h4, footer p, footer a, footer li a {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

.darkMode {
    padding-left: 5px;
}

.stext-107 {
    color: #f1f1f1;
}

.btn-back-to-top {
    background-color: #3f3f3f !important;
}

i.fa-regular.fa-user.fa-sm{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.containcarousel, .carousel{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

div.block1.wrap-pic-w {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
    
}



/* Add more dark mode styles as needed */