html, body {
    background-color: #232323;
    color: #fff;
}

.drkmde {
    background-color: #232323 !important;
    color: #fff !important;
}




/* nav */

.sub-menu a {
  color: #eaeaea !important;
  background-color:  #232323 !important;
}

ul.sub-menu {
    background-color: #232323 !important;
}

.sub-menu > li:hover > a {
  color: #19f574 !important;

}

.darkModetxt-omacha-active {
    color: #19f574 !important;
    font-weight: bold !important;
    background-color: #232323 !important;
}



.darkModetxt-omacha {
    color: #19f574 !important;
}

.darkModehyperlink-omacha{
    color: #f1f1f1 !important;
}

.darkModehyperlink-omacha:hover{
    color: #19f574 !important;
}

.darkModetxt {
    color: #f1f1f1 !important;
}

.darkModetxt-blk {
    color: #181818 !important;
}

.darkModehyperlink{
    color: #f1f1f1 !important;
}

.darkModehyperlink:hover{
    color: #19f574 !important;
}

.darkModeBtn {
    background-color: #19f574 !important;
    border-color: #19f574;
    color: #181818 !important;
}

.darkModeBtn:hover {
    background-color: #18E800 !important;
    border-color: #18E800 !important;
    color: #181818 !important;
}

.darkModeBtn-outline {
    background-color: transparent !important;
    border-color: #f1f1f1 !important;
    color: #f1f1f1 !important;
}

.darkModeBtn-outline:hover {
    background-color: #19f574 !important;
    border-color: #19f574 !important;
    color: #232323 !important;
}

.darkModeBtn-ActiveOutline {
    background-color: #19f574 !important;
    border-color: #19f574 !important;
    color: #232323 !important;
}



.main-menu > li:hover > a {
  text-decoration: none;
  color: #19f574;
}

.main-menu a {
    color : white !important;
}

.main-menu a:hover {
    color : #19f574 !important;
}

.main-menu > .active-menu >  a {
    color: #19f574 !important;
}z

/* nav */

.drkMdebg {
    background-color: #181818 !important;
}

.darkModebg-black {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

.darkModebg-darkgray {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.top-bar, .card, .animsition, .sec-banner, section, .icon-header, .c17 {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.navbar, .limiter-menu-desktop, .wrap-menu-desktop, .navbar a, 
.header-icons, .header-icons-mobile, .header-wrapicon2, .header-cart, .header-cart-wrapitem, 
.header-cart-item-name, .header-cart-item-info, .header-cart-total, .header-cart-buttons a, .profile-sub-menu, i.zmdi {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

footer, footer h4, footer p, footer a, footer li a {
    background-color: #181818 !important;
    color: #f1f1f1 !important;
}

.darkMode {
    padding-left: 5px;
}

.stext-107 {
    color: #f1f1f1;
}

.btn-back-to-top {
    background-color: #3f3f3f !important;
}

i.fa-regular.fa-user.fa-sm{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

.containcarousel, .carousel{
    background-color: #232323 !important;
    color: #f1f1f1 !important;
}

div.block1.wrap-pic-w {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
    
}


/* Add active home link color for dark mode */
.active-menu > a {
    color: #19f574 !important;
}

/* Add more dark mode styles as needed */


.profile-card {
    background-color: #181818 !important;
    box-shadow: 0 25px 50px -20px #000000 !important;
}

.details-container {
    background-color: #ffffff !important;
}

.username {
    color: #f1f1f1 !important;
}





.darkMode-nav-arrow {
  color: #181818;
  background-color: transparent;
}

.darkMode-nav-arrow:hover {
  color: #19f574;
}